@model IEnumerable<Elhoot_HomeDevices.Data.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="text-center">@TempData["Name"]</h1>

    <div class="col-md-6">
        <input id="searchInput" type="text" class="form-control" placeholder="ابحث عن عميل..." />
    </div>
    
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <button id="showResultBtn" class="btn btn-primary">اضغط هنا لمعرفه الرقم الكلى</button>
            <p class="text-center">
                <a asp-action="CreateForCategory" asp-route-Catname="@TempData["Name"]"
                   class="btn btn-success">اضافه منتج جديد</a>
            </p>
        </div>
        <div id="result" style="display: none;">
            <h3 class="text-center">كل السعر: @ViewBag.TotalPrice</h3>

        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card mb-3 bg-warning">
                    <!-- Add bg-warning class for orange background -->
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text"><h4>العدد</h4>: @Html.DisplayFor(modelItem => item.Count)</p>
                        <p class="card-text"><h4>سعر الوحد</h4>: @Html.DisplayFor(modelItem => item.Price)</p>
                        <p class="card-text"><h4>السعر ىالكلى</h4>: @Html.DisplayFor(modelItem => item.TotalPriceCount)</p>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">تعديل</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">حذف</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    document.getElementById("searchInput").addEventListener("input", function () {
        var searchValue = this.value.trim().toLowerCase();
        var cards = document.querySelectorAll(".col-md-3");

        cards.forEach(function (card) {
            var cardTitle = card.querySelector(".card-title").textContent.toLowerCase();
            if (cardTitle.includes(searchValue)) {
                card.style.display = "block";
            } else {
                card.style.display = "none";
            }
        });
    });

    document.getElementById("showResultBtn").addEventListener("click", function () {
        var resultContainer = document.getElementById("result");
        if (resultContainer.style.display === "none") {
            resultContainer.style.display = "block";
        } else {
            resultContainer.style.display = "none";
        }
    });

</script>
