@model Elhoot_HomeDevices.Data.Madunaate

@{
    ViewData["Title"] = "Delete";
}

 

<h3>هل انت متاكد   من الحذف</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <h4>الاسم </h4>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        @*<dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Address)
        </dd>*@
        <dt class="col-sm-2">
            <h4>الفلوس </h4>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Money)
        </dd>
    </dl>

    <form asp-action="DeleteConvermid">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />  

    </form>
</div>
